/*-----------------------------------*\

  $Variables

\*-----------------------------------*/

$purple:                              #AE5ED9;
$orange:                              #D38A59;
$white:                               #fff;
$med-grey:                            #666;

$cotb-orange:                         #f05523;

*,
*:after,
*:before {
  box-sizing: border-box;
}


html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: $med-grey;
}

a {
  color: $cotb-orange;
  text-decoration: none;
  border-bottom: 1px dotted $cotb-orange;
  transition: all .25s ease;

  &:hover {
    color: $purple;
    border-color: $purple;
    transition: all .25s ease;
    text-decoration: none;
  }
}

address, .pre {
  white-space: pre-line;
}

dl {
  font-size: 1.2em;
}
dd {
  margin-bottom: 1em;
}


header {
  position: fixed;
  padding: 1em;
  background-image: url(../img/main_bg.jpg);
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  #logo {
    background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 40px;
    text-indent: -9000px;
    outline: none;
    margin: 0;

    @media screen and (min-width: 720px) {
      min-height: 80px;
    }
  }
}

section#main {
  background-image: url(../img/main_bg.jpg);
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-content: center;
  color: $white;
  flex: 1 auto;
  justify-content: center;

  p {
    text-align: center;
    font-size: 2em;
    line-height: 1em;

    &.title {
      font-weight: 700;
      font-size: 3em;
      margin-bottom: .25em;
      letter-spacing: -0.09rem;
    }

    &.date {
      font-weight: 100;
      margin-top: 0;
    }

    &.location {
      font-weight: 700;
      margin-top: 2em;
    }
  }

  a.register-btn {
    margin-top: 2em;
    color: $white;
    border: solid 2px $white;
    text-align: center;
    font-size: 0.7em;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: all .25s ease;

    &:hover {
      background-color: $white;
      color: $purple;
      transition: all .25s ease;
      box-shadow: 0 3px 14px rgba(0, 0, 0, .18);
    }
  }
}

.conf-stats-item {
  width: 20%;

  @media screen and (max-width: 720px) {
    width: 50%;
    justify-content: space-around;
  }
}

.conf-stats-headline {
  font-size: 3em;
  margin-bottom: 0;
  color: $purple;
}

.conf-stats-line {
  color: $med-grey;
}

.about-content {
  width: 50%;
  padding: 4em;

  @media screen and (max-width: 720px) {
    width: 100%;
    padding: 1em;
    flex-direction: column;
  }
}

section.content {
  padding: 4em 1em;
  width: 100%;

  h2 {
    margin-bottom: 1em;
    text-align: center;
    //text-align: left;
  }

  p {
    font-size: 1.2em;
    color: $med-grey;
    font-weight: 100;
    margin: 1em auto;

    @media screen and (min-width: 720px) {
      //width: 75%;
    }

    &.lead {
      font-size: 1.4em;
    }
  }

  iframe {
    margin: 2em auto 1em auto;
    display: block;
    width: 100%;
    max-width: 500px;
  }
}

a.bookroom-btn {
  color: $cotb-orange;
  border: solid 2px $cotb-orange;
  text-align: center;
  padding: 1em 2em;
  text-decoration: none;
  transition: all .25s ease;

  &:hover {
    background-color: $cotb-orange;
    color: $white;
    transition: all .25s ease;
    box-shadow: 0 3px 14px rgba(0, 0, 0, .18);
  }
}

.btn {
  display: inline-block;
}

section#about {

  background-image: url(../img/beach.jpg);
  background-color: rgba(255,255,255,0.95);
  background-blend-mode: screen;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;

  h2 {
    color: $orange;
    text-shadow: 5px 5px 20px #fff;
  }
}

section#speakers {
  background-image: url(../img/corridor.jpg);
  background-color: rgba(0,0,0,0.7);
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;

  color: $white;

  p {
    color: $white;

    a {
      color: #9acfea;
      border-color: #9acfea;

      &:hover {
        color: $cotb-orange;
        border-color: $cotb-orange;
        background-color: transparent;
      }
    }
  }

  .speaker {
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 720px) {
      flex-direction: row;
      align-items: flex-start;
      width: 75%;
    }

    img {
      width: 200px;
      height: 200px;
      display: block;
      border-radius: 9999px;
    }

    .bio {

      @media screen and (min-width: 720px) {
        padding-left: 2em;
      }

      p {
        text-align: left;
        width: auto;
      }
    }
  }
}


section#sponsors {

  background-image: url(../img/verandina.jpg);
  background-color: rgba(255,255,255,0.95);
  background-blend-mode: screen;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;

  .sponsors-container {
    justify-content: center;
  }

  .sponsor {

    padding: 1em;

    img {
      display: block;
      width: 100%;
      border: solid 2px #999;
      padding: 5px;
      background-color: #fff;
    }

    &.sponsor-inkind {
      max-width: 50%;
      margin: 0 auto;
    }

    @media screen and (min-width: 721px) {
      &.sponsor-sunsky {
        max-width: 50%;
      }
      &.sponsor-sandsea {
        max-width: 33%;
      }
      &.sponsor-point {
        max-width: 25%;
      }
      &.sponsor-inkind {
        max-width: 20%;
      }
    }
  }
}

section#videos {

  background-image: url(../img/keynote.jpg);
  background-color: rgba(0,0,0,0.7);
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;

  color: $white;

  p a {
    color: #9acfea;
    border-color: #9acfea;

    &:hover {
      color: $cotb-orange;
      border-color: $cotb-orange;
      background-color: transparent;
    }
  }

  .playlist {
    margin-bottom: 2em;

    img {
      width: 100%;
    }

    a {
      border: solid 2px #ccc;
      position: relative;
      width: 100%;
      display: block;
      z-index: 0;

      span.glyphicon {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 4em;
        text-shadow: 5px 5px 15px #000;
      }

      span.title {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 1.5em;
        color: white;
        padding: 1em;
        background-color: rgba(0,0,0,0.7);
      }

      @media screen and (min-width: 721px) {
        max-width: 50%;
        margin: 0 auto;
      }
    }

    a span {
      display: block;
      text-align: center;
    }
  }
}

/*-----------------------------------*\

  $Utility Classes

\*-----------------------------------*/

.mt2 {
  margin-top: 2em;
}

.flex-container {
  display: flex;
  width: 100%;
}

.flex-wrap {
  flex-wrap: wrap;
}

.c-text {
  text-align: center;
}

.m-flex-col {
  @media screen and (max-width: 720px) {
    flex-direction: column;
  }
}

.m-full-w {
  @media screen and (max-width: 720px) {
    width: 100%;
  }
}